# The express server port. Ex: 30001
PORT=

# Your metamask private key(owner/admin)
PRIVATE_KEY=

# Your MetaMask wallet public address(owner/admin)
WALLET=

#Your token smart contract address
CONTRACT_ADDRESS=

# Your blockchain node RPC server
NODE_URL=
